h2 {
  margin-top: 50px;
  font-size: 18px;
}

#show-purchase {
  background-color: white;
  height: 500px;
}


#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  margin: 123px 0px 0px 0px;
}

