<div class="wrapper">
  <div class="banner-category-page">
    <div class"row">
      <!-- <li class="products"> -->
        <div class = "col xs-12 col-sm-6 col-md-3">
          <div class="pa-glist-item-goods">
            <div class="act-goods-img">
                <img class="pa-goods-img" alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-27/ff91fb5507cd257b14054ab5326247e0.jpeg@750w_1l_50Q.src">
            </div>
            <div class="act-goods-txt">
                <p class="act-goods-name">香朵儿 短款棉衣女装冬装新款2018冬季宽松休闲韩版港风棉袄外套</p>
                <div class="act-goods-prices">
                    <span class="act-goods-price"><b>￥</b><span>46.9</span></span>
                    <span class="act-goods-mprice">￥<span>128</span></span>
                    <span class="act-goods-cnt">已团<span>6040</span>件</span>
                </div>
            </div>
          </div>
        </div>
        <div class = "col xs-12 col-sm-6 col-md-3">
          <div class="pa-glist-item-goods">
            <div class="act-goods-img">
                <img class="pa-goods-img" alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-27/ff91fb5507cd257b14054ab5326247e0.jpeg@750w_1l_50Q.src">
            </div>
            <div class="act-goods-txt">
                <p class="act-goods-name">香朵儿 短款棉衣女装冬装新款2018冬季宽松休闲韩版港风棉袄外套</p>
                <div class="act-goods-prices">
                    <span class="act-goods-price"><b>￥</b><span>46.9</span></span>
                    <span class="act-goods-mprice">￥<span>128</span></span>
                    <span class="act-goods-cnt">已团<span>6040</span>件</span>
                </div>
            </div>
          </div>
        </div>
        <div class = "col xs-12 col-sm-6 col-md-3">
          <div class="pa-glist-item-goods">
            <div class="act-goods-img">
                <img class="pa-goods-img" alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-27/ff91fb5507cd257b14054ab5326247e0.jpeg@750w_1l_50Q.src">
            </div>
            <div class="act-goods-txt">
                <p class="act-goods-name">香朵儿 短款棉衣女装冬装新款2018冬季宽松休闲韩版港风棉袄外套</p>
                <div class="act-goods-prices">
                    <span class="act-goods-price"><b>￥</b><span>46.9</span></span>
                    <span class="act-goods-mprice">￥<span>128</span></span>
                    <span class="act-goods-cnt">已团<span>6040</span>件</span>
                </div>
            </div>
          </div>
        </div>
        <div class = "col xs-12 col-sm-6 col-md-3">
          <div class="pa-glist-item-goods">
            <div class="act-goods-img">
                <img class="pa-goods-img" alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-27/ff91fb5507cd257b14054ab5326247e0.jpeg@750w_1l_50Q.src">
            </div>
            <div class="act-goods-txt">
                <p class="act-goods-name">香朵儿 短款棉衣女装冬装新款2018冬季宽松休闲韩版港风棉袄外套</p>
                <div class="act-goods-prices">
                    <span class="act-goods-price"><b>￥</b><span>46.9</span></span>
                    <span class="act-goods-mprice">￥<span>128</span></span>
                    <span class="act-goods-cnt">已团<span>6040</span>件</span>
                </div>
            </div>
          </div>
        </div>
        <div class = "col xs-12 col-sm-6 col-md-3">
          <div class="pa-glist-item-goods">
            <div class="act-goods-img">
                <img class="pa-goods-img" alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-27/ff91fb5507cd257b14054ab5326247e0.jpeg@750w_1l_50Q.src">
            </div>
            <div class="act-goods-txt">
                <p class="act-goods-name">香朵儿 短款棉衣女装冬装新款2018冬季宽松休闲韩版港风棉袄外套</p>
                <div class="act-goods-prices">
                    <span class="act-goods-price"><b>￥</b><span>46.9</span></span>
                    <span class="act-goods-mprice">￥<span>128</span></span>
                    <span class="act-goods-cnt">已团<span>6040</span>件</span>
                </div>
            </div>
          </div>
        </div>
        <div class = "col xs-12 col-sm-6 col-md-3">
          <div class="pa-glist-item-goods">
            <div class="act-goods-img">
                <img class="pa-goods-img" alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-27/ff91fb5507cd257b14054ab5326247e0.jpeg@750w_1l_50Q.src">
            </div>
            <div class="act-goods-txt">
                <p class="act-goods-name">香朵儿 短款棉衣女装冬装新款2018冬季宽松休闲韩版港风棉袄外套</p>
                <div class="act-goods-prices">
                    <span class="act-goods-price"><b>￥</b><span>46.9</span></span>
                    <span class="act-goods-mprice">￥<span>128</span></span>
                    <span class="act-goods-cnt">已团<span>6040</span>件</span>
                </div>
            </div>
          </div>
        </div>
        <div class = "col xs-12 col-sm-6 col-md-3">
          <div class="pa-glist-item-goods">
            <div class="act-goods-img">
                <img class="pa-goods-img" alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-27/ff91fb5507cd257b14054ab5326247e0.jpeg@750w_1l_50Q.src">
            </div>
            <div class="act-goods-txt">
                <p class="act-goods-name">香朵儿 短款棉衣女装冬装新款2018冬季宽松休闲韩版港风棉袄外套</p>
                <div class="act-goods-prices">
                    <span class="act-goods-price"><b>￥</b><span>46.9</span></span>
                    <span class="act-goods-mprice">￥<span>128</span></span>
                    <span class="act-goods-cnt">已团<span>6040</span>件</span>
                </div>
            </div>
          </div>
        </div>
        <div class = "col xs-12 col-sm-6 col-md-3">
          <div class="pa-glist-item-goods">
            <div class="act-goods-img">
                <img class="pa-goods-img" alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-27/ff91fb5507cd257b14054ab5326247e0.jpeg@750w_1l_50Q.src">
            </div>
            <div class="act-goods-txt">
                <p class="act-goods-name">香朵儿 短款棉衣女装冬装新款2018冬季宽松休闲韩版港风棉袄外套</p>
                <div class="act-goods-prices">
                    <span class="act-goods-price"><b>￥</b><span>46.9</span></span>
                    <span class="act-goods-mprice">￥<span>128</span></span>
                    <span class="act-goods-cnt">已团<span>6040</span>件</span>
                </div>
            </div>
          </div>
        </div>
      <!-- </li> -->
    </div>
  </div>
</div>
