<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="7000" id="bs-carousel">

        <div class="overlay"></div>

        <ol class="carousel-indicators">
          <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#bs-carousel" data-slide-to="1"></li>
          <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
              <hgroup>
                  <h1>Uma nova maneira de fazer compras</h1>
                  <h3>Compre e pague mais barato fazendo compras em grupo</h3>
              </hgroup>
              <button class="btn btn-hero btn-lg" role="button">Saiba mais</button>
            </div>
          </div>
          <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
              <hgroup>
                  <h1>Descubra os benefícios do nosso app</h1>
                  <h3>As melhores barganhas em apenas um click</h3>
              </hgroup>
              <button class="btn btn-hero btn-lg" role="button">Saiba mais</button>
            </div>
          </div>
          <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
              <hgroup>
                  <h1>Mais pessoas significa menor preço</h1>
                  <h3>Compras em grupo geram economia de até 70%</h3>
              </hgroup>
              <button class="btn btn-hero btn-lg" role="button">Saiba mais</button>
            </div>
          </div>
        </div>
      </div>
