<div class="main_content">

  <div class="categories">
    <div class="header_categories">
      <h4>Os menores preços do Brasil você encontra aqui</h4>
    </div>
    <ul class="cat-list">
      <div class = "col xs-12 col-sm-6 col-md-6">
        <li class"cat-list-item">
          <div class="large-box">
            <%= link_to category_path(1) do%>
            <% image_tag Category.all[0].image_name, size: '525x330'%>
            <%end%>
            <div class="mini-box" id="index-3-promo">
              <div class="pdd-index-glist" avalonctrl="index-cat-shoes" style="">
                <ul>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-01/94826919df959dd4945adcc9ab9bb0b3.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Calça Leggin 100% Algodão.</p>
                        <span class="index-goods-price"><b></b><span>R$120</span></span>
                        <span class="index-goods-mprice">por<span> R$70</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-29/64e527ccbafb8674bd6b25a2513b5dc6.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Malha Estampada</p>
                        <span class="index-goods-price"><b></b><span>R$60</span></span>
                        <span class="index-goods-mprice">por<span> R$25</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-21/805748793092c56f2a811f44a7b46b54.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Calça Leggin Modeladora Alta Compreensão</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class = "col xs-12 col-sm-6 col-md-6">
        <li class"cat-list-item">
          <div class="large-box">
            <%= link_to category_path(2) do%>
            <% image_tag Category.all[1].image_name, size: '525x330'%>
            <%end%>
            <div class="mini-box" id="index-3-promo">
              <div class="pdd-index-glist" avalonctrl="index-cat-shoes" style="">
                <ul>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-06/6a433378f70edf0350fb786a4356c151.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Casaco Sport</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-28/123c15ceaaf6ad6498808d2227f84db3.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Camisa Xadrez</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-01/e0bd595d4f7bbfa62752a1563b9d0497.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Calça Jeans</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class = "col xs-12 col-sm-6 col-md-6">
        <li class"cat-list-item">
          <div class="large-box">
             <%= link_to category_path(3) do%>
            <% image_tag Category.all[2].image_name, size: '525x330'%>
            <%end%>
            <div class="mini-box" id="index-3-promo">
              <div class="pdd-index-glist" avalonctrl="index-cat-shoes" style="">
                <ul>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-30/edafda8f8a464f50f68603918c6275d3.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Poltona Massageadora</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-30/af5bcff8ff5db48d3f1764ec667ce792.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Processador de Doces com controle remoto</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-31/696a4c7e13a34857fcc642af25512528.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Torneira com medição de temperatura</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class = "col xs-12 col-sm-6 col-md-6">
        <li class"cat-list-item">
          <div class="large-box">
             <%= link_to category_path(4) do%>
            <% image_tag Category.all[3].image_name, size: '525x330'%>
            <%end%>
            <div class="mini-box" id="index-3-promo">
              <div class="pdd-index-glist" avalonctrl="index-cat-shoes" style="">
                <ul>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-03/2aaec17b8c9dbbbc8f161bc983e057c5.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Bicicleta para Spinning</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-09-29/da2b2ab45b8c3599b445437687ba5e89.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Aparelho para Abdominal</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-01/e0bd595d4f7bbfa62752a1563b9d0497.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">Calça Jeans para Ginástica</p>
                        <span class="index-goods-price"><b></b><span>R$180</span></span>
                        <span class="index-goods-mprice">por<span> R$100</span></span>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
