<div class="main_content">

  <div class="categories">
    <div class="header_categories">
      <h4>Os menores preços do Brasil você encontra aqui</h4>
    </div>
    <ul class="cat-list">
      <div class = "col xs-12 col-sm-6 col-md-6">
        <li class"cat-list-item">
          <div class="large-box">
            <img class="large-box-foto" src="<%= asset_url "female_fashion.jpeg"%>">
            <div class="mini-box" id="index-3-promo">
              <div class="pdd-index-glist" avalonctrl="index-cat-shoes" style="">
                <ul>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-01/94826919df959dd4945adcc9ab9bb0b3.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">南极人】加绒加厚/薄款高腰女裤黑色外穿大码女士打底裤显瘦长裤</p>
                        <span class="index-goods-price"><b>￥</b><span>14.5</span></span>
                        <span class="index-goods-mprice">￥<span>168</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-29/64e527ccbafb8674bd6b25a2513b5dc6.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">贝尔法 早秋新款绣花毛衣女韩版修身针织长袖圆领套头百搭打底衫</p>
                        <span class="index-goods-price"><b>￥</b><span>29.9</span></span>
                        <span class="index-goods-mprice">￥<span>199</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-21/805748793092c56f2a811f44a7b46b54.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">【28.9元限时抢，抢完恢复39元】迹莎 加绒高腰收腹打底裤女大码产后塑形连裤袜显瘦美腿压力裤子</p>
                        <span class="index-goods-price"><b>￥</b><span>28.9</span></span>
                        <span class="index-goods-mprice">￥<span>70</span></span>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class = "col xs-12 col-sm-6 col-md-6">
        <li class"cat-list-item">
          <div class="large-box">
            <img class="large-box-foto" src="<%= asset_url "man_fashion.jpeg"%>">
            <div class="mini-box" id="index-3-promo">
              <div class="pdd-index-glist" avalonctrl="index-cat-shoes" style="">
                <ul>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-06/6a433378f70edf0350fb786a4356c151.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">teste1</p>
                        <span class="index-goods-price"><b>￥</b><span>14.5</span></span>
                        <span class="index-goods-mprice">￥<span>168</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-28/123c15ceaaf6ad6498808d2227f84db3.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">teste2</p>
                        <span class="index-goods-price"><b>￥</b><span>29.9</span></span>
                        <span class="index-goods-mprice">￥<span>199</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-01/e0bd595d4f7bbfa62752a1563b9d0497.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">【28.9元限时抢，抢完恢复39元】迹莎 加绒高腰收腹打底裤女大码产后塑形连裤袜显瘦美腿压力裤子</p>
                        <span class="index-goods-price"><b>￥</b><span>28.9</span></span>
                        <span class="index-goods-mprice">￥<span>70</span></span>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class = "col xs-12 col-sm-6 col-md-6">
        <li class"cat-list-item">
          <div class="large-box">
            <img class="large-box-foto" src="//cdn.pinduoduo.com/assets/img/cat_electrical.jpg">
            <div class="mini-box" id="index-3-promo">
              <div class="pdd-index-glist" avalonctrl="index-cat-shoes" style="">
                <ul>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-30/edafda8f8a464f50f68603918c6275d3.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">teste1</p>
                        <span class="index-goods-price"><b>￥</b><span>14.5</span></span>
                        <span class="index-goods-mprice">￥<span>168</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-30/af5bcff8ff5db48d3f1764ec667ce792.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">teste2</p>
                        <span class="index-goods-price"><b>￥</b><span>29.9</span></span>
                        <span class="index-goods-mprice">￥<span>199</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-10-31/696a4c7e13a34857fcc642af25512528.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">【28.9元限时抢，抢完恢复39元】迹莎 加绒高腰收腹打底裤女大码产后塑形连裤袜显瘦美腿压力裤子</p>
                        <span class="index-goods-price"><b>￥</b><span>28.9</span></span>
                        <span class="index-goods-mprice">￥<span>70</span></span>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
      <div class = "col xs-12 col-sm-6 col-md-6">
        <li class"cat-list-item">
          <div class="large-box">
            <img class="large-box-foto" src="//cdn.pinduoduo.com/assets/img/cat_sports_2.jpg">
            <div class="mini-box" id="index-3-promo">
              <div class="pdd-index-glist" avalonctrl="index-cat-shoes" style="">
                <ul>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-03/2aaec17b8c9dbbbc8f161bc983e057c5.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">teste1</p>
                        <span class="index-goods-price"><b>￥</b><span>14.5</span></span>
                        <span class="index-goods-mprice">￥<span>168</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-09-29/da2b2ab45b8c3599b445437687ba5e89.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">teste2</p>
                        <span class="index-goods-price"><b>￥</b><span>29.9</span></span>
                        <span class="index-goods-mprice">￥<span>199</span></span>
                    </li>
                    <li class="pi-glist-item">
                        <img alt="goods" src="http://t00img.yangkeduo.com/goods/images/2018-11-01/e0bd595d4f7bbfa62752a1563b9d0497.jpeg@750w_1l_50Q.src">
                        <p class="index-goods-name">【28.9元限时抢，抢完恢复39元】迹莎 加绒高腰收腹打底裤女大码产后塑形连裤袜显瘦美腿压力裤子</p>
                        <span class="index-goods-price"><b>￥</b><span>28.9</span></span>
                        <span class="index-goods-mprice">￥<span>70</span></span>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
