<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    O melhor site de compras e barganhas coletivas <i class="fas fa-shopping-cart"></i> Isso é Precito!
  </div>
</div>
