<div class="navbar-wagon">
      <!-- Logo -->
      <a href="/" class="navbar-wagon-brand">
        <img src="<%= asset_url "precito.png"%>" alt="logo">
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <a href="" class="navbar-wagon-item navbar-wagon-link">Categorias</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Ofertas Rápidas</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Download App</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Ajuda</a>
        <% unless user_signed_in? %>
          <%= link_to "Log In",  user_session_path, class:"navbar-wagon-item navbar-wagon-link" %>
        <% end %>


        <!-- Profile picture with dropdown list -->

        <% if user_signed_in? %>
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <img src="https://kitt.lewagon.com/placeholder/users/quantfy" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li><a href="#">Perfil</a></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>


    <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
         <div class="dropdown">
          <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Ofertas Rápidas</a></li>
            <li><a href="#">Download App</a></li>
            <li><a href="#">Ajuda</a></li>
          </ul>
        </div>
      </div>
    </div>
