.banner {
   color: white;
    text-align: center;
    height: 50vh;
    width: 40hv;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    right: 102px;
    top: 15px;
}

.banner h1 {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.box {
  background: white;
  margin-bottom: 40px;
}


.large-box text-center{
  background-color: white;
}

.pa-glist-item-goods {
  border: 10px solid #e0e2e4;
  background-color: #fff;
  display: inline-block;
  float: left;
  margin-right: 2.6%;
  margin-top: 2.6%;
  position: relative;
  vertical-align: top;
  width: 23%;
  height: 4rem;
  align-items: center;
  justify-content: space-around;
}

.act-goods-img {
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: 10%;
  max-width: 220px;
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
}

.act-goods-txt {
  margin: 0 auto;
  font
  max-width: 248px;
  position: relative;
  width: 90%;
}

.act-goods-name {
  color: #686868;
  display: inline-block;
  font-size: .16rem;
  height: .66rem;
  line-height: .22rem;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
}

.act-goods-prices {
  overflow: hidden;
  height: .54rem;
  line-height: .54rem;
}


