.ldBar{position:relative;
  margin-left: 0px;
      }

.preco{
      padding-left: 35px;
}

.ldBar.label-center > .ldBar-label{opacity:0;  position:absolute;top:130%;left:61%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-shadow:0 0 3px #fff}

.ldBar-label:after{content:" current price"; display:block;     color: #aaa;
    margin-left: 4px;
    font-family: courier new;
    font-size: 0.8em;
    font-weight: 250;}

.ldBar.no-percent .ldBar-label:after{content:""}


