
<main class="container">
  <div class="box">
    <div class="row">


    <!-- COLUMN LEFT-->
    <div class="col-sm-6">
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/assets/female_fashion.jpg');">
       <div class="banner-content">
          <h1>Vestuário Feminino</h1>
          <p>O melhor da internet está no no precito</p>
      </div>
      </div>
    </div>


    <!-- END COLUMN LEFT-->

    <!-- COLUMN RIGHT-->

    <!-- Product Description -->
    <div class="col-sm-6">
      <div class="category-description">
        <h1>Roupas femininas </h1>
        <p>Grande nome autêntico, design de moda, experiência confortável, preço baixo compre 1 dobra, o coração não é tão bom quanto a ação! APP exclusivo, acessível!</p>

      </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <i class="far fa-thumbs-up"></i>
               <p>Pacote completo</p>
           </div>
           <div class="col-xs-6 col-sm-3">
            <i class="fas fa-undo"></i>
            <p>Retorno em 7 dias</p>
          </div>
          <div class="col-xs-6 col-sm-3">
            <i class="fas fa-truck"></i>
            <p>Entrega em 24 horas</p>
          </div>

        </div>
    </div>
  </div>
</main>



<h1 class="text-center"><%= @category.name %></h1>

<div class="main_content">
  <div class="categories">
    <div class="cat-list">
      <% @products.each do |product|%>
        <div class = "col xs-12 col-sm-6 col-md-3">
          <!-- <li class= "cat-list-item"> -->
            <div class="large-box text-center">
              <div class="pa-glist-item-goods">
                <%=link_to product do %>
                <div class="act-goods-img">
                  <%= image_tag "http://t00img.yangkeduo.com/goods/images/2018-10-27/ff91fb5507cd257b14054ab5326247e0.jpeg@750w_1l_50Q.src", class: "pa-goods-img" %>
                </div>
                <% end %>
                  <!-- <h3><%= link_to product.name, product_path(product) %></h3> -->
                  <div class="act-goods-txt">
                  <p class="act-goods-name">Casaco Gucci Feminino</p>
                  <div class="act-goods-prices">
                    <span class="act-goods-price"><b>￥</b><span>46.9</span></span>
                    <span class="act-goods-mprice">￥<span>128</span></span>
                    <span class="act-goods-cnt">已团<span>6040</span>件</span>
                  </div>
                </div>
              </div>
            </div>
          <!-- </li> -->
        </div>
      <% end %>
    </div>
  </div>
</div>

